In [1]:
import pandas as pd
import numpy as np

In [2]:
c_df = pd.read_csv('creditcard.csv')

In [3]:
c_df.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
260689,159674.0,1.884906,-1.505633,-1.095858,-0.908691,-0.730177,0.057597,-0.773941,-0.100906,0.054698,...,0.382441,0.790171,-0.084513,0.095835,-0.074136,-0.098646,-0.024468,-0.016199,189.0,0
113988,73289.0,1.369344,-0.611731,0.779836,-0.631381,-1.357343,-0.846314,-0.826669,-0.127478,-0.544416,...,0.307001,0.808543,-0.091381,0.428675,0.448270,-0.106096,0.024061,0.024230,21.6,0
243832,152093.0,0.007450,1.131630,-2.660364,-0.675346,1.815056,-0.532756,1.198306,0.043894,-0.581933,...,0.582156,1.668382,-0.059944,-0.295606,-1.030826,-0.161549,-0.066951,0.240108,1.0,0
67807,52701.0,1.185155,-0.011646,0.542372,0.016694,-0.664213,-0.970258,-0.030780,-0.164963,0.132362,...,-0.031077,-0.054534,0.119978,0.694044,0.107728,0.953293,-0.066634,0.009808,20.0,0
51343,44902.0,-0.929275,0.875379,1.322582,-0.335938,-0.687742,-0.997821,0.144281,0.481594,0.327294,...,0.017792,0.160079,-0.095608,0.751424,-0.169296,0.486292,0.192757,0.119480,1.0,0

In [4]:
c_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
c_df['Class'].unique()

array([0, 1], dtype=int64)

In [6]:
c_df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
c_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [10]:
legal = c_df[c_df['Class'] == 0]
fraud = c_df[c_df['Class'] == 1]
print(legal.shape, fraud.shape)

(284315, 31) (492, 31)

In [11]:
legal_sample = legal.sample(n=492)
legal_sample.shape

(492, 31)

In [12]:
legal_fraud_df = pd.concat([legal_sample, fraud], axis=0)

In [13]:
legal_fraud_df.shape

(984, 31)

In [17]:
legal_fraud_df.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
33276,37167.0,-7.923891,-5.198360,-3.000024,4.420666,2.272194,-3.394483,-5.283435,0.131619,0.658176,...,-0.734308,-0.599926,-4.908301,0.410170,-1.167660,0.520508,1.937421,-1.552593,12.31,1
200914,133640.0,-4.421055,-2.230110,0.557375,-2.496284,1.355701,1.176779,1.677737,-1.253078,2.411180,...,-0.662563,1.425553,0.531740,-1.481209,0.014795,0.455322,-2.082139,-0.690565,153.00,0
124176,77202.0,-0.356326,1.435305,-0.813564,1.993117,2.055878,-0.543579,0.487691,0.085449,-0.536352,...,-0.312863,-0.687874,-0.267003,-1.158480,0.271460,-0.155397,0.114328,0.101526,1.00,1
150715,93965.0,-11.397727,7.763953,-18.572307,6.711855,-10.174216,-4.395918,-15.893788,2.083013,-4.988837,...,0.339007,1.342923,0.239217,0.534644,-0.174965,-0.500240,-1.722060,-0.574339,11.40,1
214662,139767.0,0.467992,1.100118,-5.607145,2.204714,-0.578539,-0.174200,-3.454201,1.102823,-1.065016,...,0.983481,0.899876,-0.285103,-1.929717,0.319869,0.170636,0.851798,0.372098,120.54,1

In [19]:
legal_fraud_df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,89506.872967,-2.373249,1.854629,-3.545854,2.215200,-1.557249,-0.734965,-2.751246,0.269872,-1.319520,...,0.372660,0.030382,-0.025872,-0.072970,0.022293,0.028317,0.083743,0.030230,101.581260,0.500000
std,48300.493458,5.510255,3.634575,6.211024,3.238365,4.217616,1.697043,5.879735,4.881644,2.307959,...,2.799866,1.172138,1.174272,0.575651,0.671715,0.472780,1.012668,0.424952,220.921044,0.500254
min,260.000000,-30.552380,-8.740143,-31.103685,-3.963211,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.775670,-4.781606,-1.305101,-7.263482,-2.500112,0.000000,0.000000
25%,47792.750000,-2.867222,-0.124761,-5.120349,-0.175693,-1.780951,-1.559879,-3.078361,-0.234314,-2.313050,...,-0.165457,-0.521657,-0.240664,-0.400890,-0.314319,-0.286880,-0.066679,-0.061289,1.417500,0.000000
50%,82811.500000,-0.732849,0.940617,-1.445683,1.219361,-0.389960,-0.674652,-0.614445,0.137232,-0.765910,...,0.155999,0.057566,-0.051466,-0.014565,0.040829,-0.030126,0.044983,0.034581,19.070000,0.500000
75%,138142.250000,1.010276,2.845852,0.304913,4.282358,0.514013,0.049578,0.329772,0.855025,0.136953,...,0.648533,0.594901,0.190901,0.340934,0.389954,0.329931,0.454884,0.207432,99.990000,1.000000
max,171894.000000,2.383540,22.057729,3.358655,12.114672,11.095089,6.474115,9.667389,20.007208,8.030927,...,27.202839,8.361985,5.967022,3.261279,2.742286,2.745261,3.052358,1.779364,2125.870000,1.000000

In [20]:
legal_fraud_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(legal_fraud_df.drop(columns='Class'))
scaled_legal_fraud_df = pd.DataFrame(scaled_data, columns=legal_fraud_df.columns[:-1])

In [23]:
scaled_legal_fraud_df.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
556,-1.298242,-3.297259,2.895720,-3.135239,1.214075,-3.328227,-2.151614,-2.244058,2.751813,-1.139652,...,1.354134,0.493827,-1.277374,-0.707953,0.345430,2.055927,-0.533441,1.472609,1.033513,-0.007207
525,-1.593130,-0.039286,1.420994,-1.636561,2.511193,-0.331449,-1.367868,-1.114570,0.631195,-1.879104,...,1.255489,0.541400,0.259159,0.267136,-1.935205,-1.061355,1.276902,1.828259,1.788067,-0.455513
924,1.244411,-0.346319,-0.119340,-0.058373,0.224841,0.351335,-0.747303,-0.020915,-0.230752,0.989773,...,-0.346983,-0.183217,-0.800741,-0.557425,-0.480049,0.050618,-2.493421,-1.870892,1.631179,-0.455060
612,-1.000081,-1.203478,1.309940,-1.430085,1.638922,-2.065962,-0.812557,-1.230790,1.080527,-2.628845,...,-0.770840,0.501433,-1.071357,0.092416,0.912576,0.657659,-0.688292,0.437446,-1.132751,1.618997
191,-0.150362,0.622944,-0.678152,0.723343,-0.670590,0.171245,0.796004,0.336418,0.015592,0.984469,...,-0.147196,-0.185716,-0.253852,0.034725,-0.251338,0.058668,1.991880,-0.112438,-0.057500,-0.208195

In [24]:
X = scaled_legal_fraud_df
y = legal_fraud_df['Class']
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=2, test_size=0.2)
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [25]:
from sklearn.linear_model import LogisticRegression
my_model = LogisticRegression()
my_model.fit(X_train, y_train)

LogisticRegression()

In [26]:
train_preds = my_model.predict(X_train)
test_preds = my_model.predict(X_test)

In [28]:
from sklearn.metrics import accuracy_score
print("Training Data Accuracy: ",accuracy_score(train_preds, y_train))

Training Data Accuracy:  0.9504447268106735

In [29]:
print("Test Data Accuracy: ", accuracy_score(test_preds, y_test))

Test Data Accuracy:  0.9238578680203046